.App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .heading{
    margin-top: 30px;
  }

  .user-name{
    padding-right: 300px;
    margin-top: 10px;
  }

  .tabs{
    margin-left: 50px;
    margin-top: 20px;
  }

  button:focus,
select:focus {
  outline: none;
}

.header-tab{
    justify-content: space-between 
}

.align-row{
    flex-direction: 'row';
    display: 'flex'
}

.logoStyle{
    height: 100;
    width: 100
}